.selected_page a {
  text-decoration: underline;
}

.section__weekly {
  font-size: 2.4rem;
  border: 3.3px solid $surface-1000;
}
.weekly_HT {
  border: 2px;
}

.section__weekly > div {
  width: 50%;
  overflow: visible;
}

.weekly {
  &__container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;

    &--work {
      border-left: 3.3px solid $surface-1000;
    }

    & h2 {
      font-size: 2.5rem;
      -webkit-text-stroke-width: 1px;
      letter-spacing: 2px;
    }

    & .btn-all {
      font-size: 3rem;
      -webkit-text-stroke-width: 0.1px;
      text-decoration: underline;
      border: 0;
    }
  }
}

.home__lists {
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}

.home__lists > li {
  min-width: 30rem;
  height: auto;
}

.works__list {
  list-style: none;
}

.works__list li {
  background-color: $primary-yellow;
  font-weight: 900;
  font-size: 2.4rem;
  padding: 2.2rem;
  border: $border;
  width: 100%;
  & a {
    color: $primary-dark;
    font-size: 2.2rem;
  }

  & h4 {
    font-family: $lemon;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  & span {
    font-family: $lemon;
    font-size: 1.8rem;
  }

  & h3 {
    -webkit-text-stroke-width: 1px;
  }

  & p {
    font-family: $vintage-type;
    font-size: 2.2rem;
    line-height: 2.2rem;
    -webkit-text-stroke-width: 1px;
  }
}

.works__list li h3 {
  text-transform: uppercase;
}

.Trabalhos {
  & h2 {
    font-size: 2.5rem;
    -webkit-text-stroke-width: 1px;
    letter-spacing: 2px;
  }

  & .btn-all {
    font-size: 3rem;
    -webkit-text-stroke-width: 0.1px;
    text-decoration: underline;
    border: 0;
  }
}
