.selected_page a {
  text-decoration: underline;
}

.section__weekly {
  font-size: 2.4rem;
  height: 50rem;
  border: $border;
  padding: 1rem;
  &__inside{
    &:first-child {
      padding-right: 1rem;
      border-right: $border;
      border-right-style: dashed;
      }
    &:not(&:first-child){
      padding-left: 1rem;
    }
  }

}
.weekly_HT{
  border: 2px;
}

.section__weekly > div {
  overflow-y: auto;
  width: 100%;
}

.home__lists {
  overflow-x: auto;
  overflow-y: hidden;
  height: 80%;
  width: 100%;
}

.home__lists > li {
  min-width: 32rem !important;
  height: auto !important;
}

.works__list {
  list-style: none;
}

.works__list li {
  background-color: $primary-yellow;
  font-weight: 900;
  font-size: 2.4rem;
  padding: 2.2rem;
  border: $border;
  width: 100%;
  & a {
    color: $primary-dark
  }
}

.works__list li h3 {
  text-transform: uppercase;
}

.Trabalhos {
  font-size: 2.4rem;
}
