.schedule {
  &__list {
    list-style: none;

    & li {
      background-color: rgb(220, 222, 223);
      padding: 2.2rem;
      border: 1px solid rgb(193, 195, 196);
      border-radius: 0.8rem;
      min-height: 18rem;

      & h2 {
        text-transform: uppercase;
      }
    }
  }

  &__title {
    width: 100%;
    border-bottom: 3px solid $primary-dark;
    padding-bottom: 1rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    -webkit-text-stroke-width: 1px;

    & span {
      text-transform: capitalize;
      font-weight: 500;
      font-size: 1.8rem;
    }
  }
}

.section__schedule {
  margin-bottom: 10rem;
}
