.schedule__list {
  list-style: none;
}

.schedule__list li {
  background-color: rgb(220, 222, 223);
  padding: 2.2rem;
  border: 1px solid rgb(193, 195, 196);
  border-radius: 0.8rem;
  min-height: 18rem;
}

.schedule__list li h2 {
  text-transform: uppercase;
}

.sx-react-calendar-wrapper {
  width: 100%;
  max-width: 100vw;
  height: 800px;
  max-height: 90vh;
}

.section__schedule {
  margin-bottom: 10rem;
}
