.btn-all {
  position: relative;
  border-bottom: $border;
  text-decoration: dashed;
  color: $primary-dark;
  cursor: pointer;
}

.btn-news::after {
  content: "!";
  clip-path: polygon(
    50% 0%,
    63% 18%,
    85% 6%,
    82% 31%,
    100% 35%,
    89% 55%,
    98% 80%,
    75% 82%,
    69% 100%,
    50% 86%,
    31% 100%,
    25% 82%,
    2% 80%,
    11% 55%,
    0% 35%,
    18% 31%,
    15% 6%,
    37% 18%
  );
  width: 3rem;
  height: 3rem;
  position: absolute;
  background-color: $primary-dark;
  font-size: 1.6rem;
  color: $primary-light;
  top: -1rem;
  right: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}

.button {
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 3px solid $surface-1000;
  text-transform: uppercase;
  font-family: $kotta-one;
  font-size: 1.8rem;
  -webkit-text-stroke-width: 1px;
  cursor: pointer;
  transition: $transition;

  &:hover {
    transform: translateY(-0.5rem);
  }

  &--dark {
    background-color: $primary-dark;
    color: $primary-light;
  }

  &--light {
    background-color: $primary-light;
    color: $primary-dark;
  }

  &--blue {
    background-color: $primary-blue;
  }
  &--red {
    background-color: $primary-red;
  }

  &--yellow {
    background-color: $primary-yellow;
  }

  &--pink {
    background-color: $primary-pink;
  }

  &--green {
    background-color: $primary-green;
  }

  &--sat-green {
    background-color: $primary-sat-green;
  }

  &--sat-blue {
    background-color: $primary-sat-blue;
  }
}
