.header {
  gap: 1rem;
  align-items: center;
  width: 90%;
  padding-top: 2rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-blue;
    border: 5px solid $primary-dark;
    height: 16rem;
  }

  &__name {
    font-size: 3rem;
  }

  &__nav {
    font-size: 2.5rem;
    width: 100%;

    & ul {
      display: flex;
      gap: 0;
      text-transform: uppercase;
    }
    & a {
      color: $primary-dark;
      text-decoration: none;
      &.active {
        text-decoration: underline;
      }
    }
    & li {
      text-decoration: none;
      display: flex;
      border-top: $border;
      border-bottom: $border;
      width: 100%;
      align-items: center;
      justify-content: center;

      &:not(&:first-child) {
        border-right: $border;
      }

      &:first-child {
        border-right: $border;
        border-left: $border;
      }
    }
  }

  &__date {
    margin-left: 3rem;
    width: 30rem;
    font-size: 2rem;
    transform: rotate(-7.435deg);
    padding: 1rem 2rem;
    border: 8px dashed #000;
    background: $primary-yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & h2 {
      font-size: 6rem;
    }
  }

  &__logo {
    max-width: 25rem;
    margin-top: 10rem;

    height: auto;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    width: auto;
    height: 10rem;

    & img {
      width: 100%;
      height: 100%;
    }
  }
}
