.homework {
  background-color: rgb(220, 222, 223);
  padding: 2.2rem;
  border: 1px solid rgb(193, 195, 196);
  border-radius: 0.8rem;
  width: 40%;
  position: relative;
}

.homework--news::after {
  content: "NOVO!";
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 10rem;
  border: 1px solid gray;
  color: gray;
  font-size: 1.2rem;
}

.homework--attention::after {
  content: "ATENÇÃO!";
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 10rem;
  border: 1px solid gray;
  color: gray;
  font-size: 1.2rem;
}

.homework--expired {
  color: gray;
}
