.homework {
  background-color: $primary-green;
  justify-content: center;
  padding: 1rem;
  border: $border;
  height: 85%;
  position: relative;

  & small {
    display: flex;
    margin-top: 1.6rem;
  }

  &__news {
    position: absolute;
    top: 1rem;
    right: 1rem;
    transform: rotate(20deg);
    height: 8rem;
    width: auto;

    & img {
      width: 100%;
      height: 100%;
    }

    &--modal {
      height: 5rem;
    }
  }

  &__attention {
    position: absolute;
    top: 0rem;
    right: 0rem;
    height: 11rem;
    width: auto;

    & img {
      width: 100%;
      height: 100%;
    }

    &--modal {
      height: 8rem;
    }
  }

  & h4 {
    font-family: $lemon;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  & h3 {
    font-size: 2.7rem;
    font-weight: 600;
    -webkit-text-stroke-width: 1px;
    letter-spacing: 1px;
  }

  &__desc {
    justify-content: flex-start !important;
    margin-top: 3rem;

    & ul {
      font-size: 2.2rem;
      font-family: $vintage-type;
      line-height: 2.2rem;
      -webkit-text-stroke-width: 1px;
      min-width: 10rem !important;

      & li {
        min-width: 100rem !important;
      }
    }

    & small {
      font-size: 1.6rem;
      margin-top: auto;
      font-weight: 600;
      color: $primary-dark;
    }
  }

  & p {
    font-family: $vintage-type;
    font-size: 2.2rem;
    line-height: 2.2rem;
    -webkit-text-stroke-width: 1px;
  }
  & a {
    margin-top: 3rem;
    font-size: 2rem;
    color: $primary-dark;
    -webkit-text-stroke-width: 1px;
    position: relative;
    text-decoration: none;
    padding-bottom: 0.3rem;
    transition: $transition;

    &::after {
      content: "";
      height: 3px;
      width: 110%;
      position: absolute;
      bottom: 0;

      left: -0.8rem;
      background-color: $surface-1000;
    }

    &:hover {
      transform: translateY(-3px);
    }
  }
}

.weekly__test {
  background-color: $primary-blue;
}

// .homework--news {
//   &::after {
//     content: "NOVO!";
//     height: 10rem;
//     width: 10rem;
//     transform: rotate(15deg);
//     position: absolute;
//     top: 1rem;
//     right: 1rem;
//     background-color: $primary-yellow;
//     border: 1px solid red;
//     padding: 0.3rem 1rem;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     clip-path: polygon(
//       50% 0%,
//       63% 18%,
//       85% 6%,
//       82% 31%,
//       100% 35%,
//       89% 55%,
//       98% 80%,
//       75% 82%,
//       69% 100%,
//       50% 86%,
//       31% 100%,
//       25% 82%,
//       2% 80%,
//       11% 55%,
//       0% 35%,
//       18% 31%,
//       15% 6%,
//       37% 18%
//     );
//   }

// .homework--attention::after {
//   content: "ATENÇÃO!";
//   position: absolute;
//   top: 1rem;
//   right: 1rem;
//   padding: 0.3rem 1rem;
//   border-radius: 10rem;
//   border: 1px solid gray;
//   color: gray;
//   font-size: 1.2rem;
// }

.homework--expired {
  color: darken($primary-light, 40%);
  border-color: darken($primary-light, 40%) !important;

  & h4,
  & small {
    color: darken($primary-light, 40%) !important;
  }
}
