.timeline {
  background-color: rgb(220, 222, 223);
  padding: 2.2rem;
  border: 1px solid rgb(193, 195, 196);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.timeline h2 {
  font-size: 2.4rem;
}

.timeline span {
  font-size: 2rem;
}
