*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.dotted::after {
  content: "";
  width: 100%;
  height: 1000%;
  overflow: hidden;
  aspect-ratio: 1;
  background-image: url("/noisefigma3.png");
  opacity: 0.2;
  mix-blend-mode: multiply;
  background-size: auto;
  background-repeat: round;
  position: absolute;
  top: 0;
  pointer-events: none;
}

html {
  font-size: 62.5%; // 10px --> 1rem
}

body {
  box-sizing: border-box;
  font-size: 1.4rem;
  font-weight: 400;
  background-color: #f9ecbf;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Kdam Thmor Pro", sans-serif;
  position: relative;
}

main {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  position: relative;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  width: 90%;
  margin: 3rem 0 10rem 0;

  & h1 {
    align-self: flex-start;
  }
}
