@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

@font-face {
  font-family: "KottaOne";
  src: url(/fonts/KottaOne-Regular.ttf);
}
@font-face {
  font-family: "Lemon";
  src: url(/fonts/Lemon-Regular.ttf);
}
@font-face {
  font-family: "VintageTypist";
  src: url(/fonts/VintageTypist.otf);
}
@font-face {
  font-family: "ZalandoSans";
  src: url(/fonts/ZalandoSans-Bold.ttf);
}
/*
0 - 600px:    Phone
600 - 900px:  Tablet Portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px +:     Big desktop

$breakpoint arguement choices
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography -> general layout -> page layout -> -> components

1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.dotted::after {
  content: "";
  width: 100%;
  height: 1000%;
  overflow: hidden;
  aspect-ratio: 1;
  background-image: url("/noisefigma3.png");
  opacity: 0.2;
  mix-blend-mode: multiply;
  background-size: auto;
  background-repeat: round;
  position: absolute;
  top: 0;
  pointer-events: none;
  z-index: 100;
}

html {
  font-size: 62.5%;
}
@media (max-width: 42.8125em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #f9ecbf;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "KottaOne", sans-serif;
  position: relative;
  color: #1b1215;
}

main {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  width: 90%;
  margin: 3rem 0 10rem 0;
  min-height: 70vh;
}
.content h1 {
  align-self: flex-start;
}
@media (max-width: 42.8125em) {
  .content h1 {
    flex-direction: column;
  }
}

.selected_page a {
  text-decoration: underline;
}

.section__weekly {
  font-size: 2.4rem;
  border: 3.3px solid black;
}
@media (max-width: 28.125em) {
  .section__weekly {
    flex-direction: column;
    border: none;
    gap: 5rem;
    margin-bottom: 5rem;
  }
}

.weekly_HT {
  border: 2px;
}

.section__weekly > div {
  width: 50%;
  overflow: visible;
}
@media (max-width: 28.125em) {
  .section__weekly > div {
    width: 100%;
  }
}

.weekly__container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
.weekly__container--work {
  border-left: 3.3px solid black;
}
@media (max-width: 28.125em) {
  .weekly__container--work {
    border: none;
  }
}
.weekly__container h2 {
  font-size: 2.5rem;
  -webkit-text-stroke-width: 1px;
  letter-spacing: 2px;
}
.weekly__container .btn-all {
  font-size: 3rem;
  -webkit-text-stroke-width: 0.1px;
  text-decoration: underline;
  border: 0;
}

.home__lists {
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
}

.home__lists > li {
  min-width: 30rem !important;
  height: auto;
}

.works__desc {
  width: 80%;
}
@media (max-width: 42.8125em) {
  .works__desc {
    width: 100%;
  }
}

.works__list {
  list-style: none;
}
@media (max-width: 28.125em) {
  .works__list .swiper {
    height: 43rem;
  }
  .works__list--header {
    flex-direction: column;
  }
  .works__list--content {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    justify-content: space-between;
  }
}
@media (max-width: 28.125em) and (max-width: 28.125em) {
  .works__list--content {
    flex-grow: 1;
    align-items: center;
  }
  .works__list--content p {
    margin-top: 2.5rem;
  }
  .works__list--content a {
    margin-top: auto;
  }
}

.works__list li {
  background-color: #eece79;
  font-weight: 900;
  font-size: 2.4rem;
  padding: 2.2rem;
  border: 3.3px solid #1b1215;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 28.125em) {
  .works__list li {
    width: auto;
    border: none;
    border-bottom: 3.3px solid black;
    min-height: 85%;
  }
}
.works__list li a {
  color: #1b1215;
  font-size: 2.2rem;
  transition: all 0.2s ease;
}
.works__list li a:hover {
  transform: translateY(-3px);
}
.works__list li h4 {
  font-family: "Lemon", sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.works__list li span {
  font-family: "Lemon", sans-serif;
  font-size: 1.8rem;
}
.works__list li h3 {
  -webkit-text-stroke-width: 1px;
}
.works__list li p {
  font-family: "VintageTypist", sans-serif;
  font-size: 2.2rem;
  line-height: 2.2rem;
  -webkit-text-stroke-width: 1px;
}

.works__list li h3 {
  text-transform: uppercase;
}

.Trabalhos h2 {
  font-size: 2.5rem;
  -webkit-text-stroke-width: 1px;
  letter-spacing: 2px;
}
.Trabalhos .btn-all {
  font-size: 3rem;
  -webkit-text-stroke-width: 0.1px;
  text-decoration: underline;
  border: 0;
}

.contact {
  transition: all 0.2s ease;
}
.contact__container {
  text-decoration: none;
  color: #1b1215 !important;
  display: block;
}
.contact__container:hover .contact {
  transform: translateY(-0.5rem);
}
.contact {
  display: flex;
  flex-direction: column;
  background-color: #f1c4ad;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23000000FF' stroke-width='6' stroke-dasharray='16' stroke-dashoffset='8' stroke-linecap='square'/%3e%3c/svg%3e");
}
.contact__header {
  margin-top: 2rem;
  background-color: #1b1215;
  padding: 2rem;
  color: #f1c4ad;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.contact__header h4 {
  font-size: 3rem;
}
.contact__header h3 {
  font-size: 5rem;
}
@media (max-width: 28.125em) {
  .contact__header h3 {
    font-size: 2.5rem;
    text-align: center;
  }
  .contact__header h4 {
    font-size: 2rem;
    text-align: center;
  }
}
.contact__content {
  display: flex;
  padding: 2rem;
  width: 95%;
  margin: auto;
}
.contact__content p {
  font-size: 2.2rem;
  line-height: 3.5rem;
  -webkit-text-stroke-width: 2px;
}
@media (max-width: 28.125em) {
  .contact__content {
    flex-direction: column;
    align-items: center;
  }
  .contact__content p {
    -webkit-text-stroke-width: 1px;
  }
}
.contact__puma {
  height: auto;
  width: 150rem;
}
@media (max-width: 28.125em) {
  .contact__puma {
    width: 30rem;
  }
}
.contact__puma img {
  width: 100%;
  height: 100%;
}

@media (max-width: 28.125em) {
  .swiper {
    border: 3.3px solid black;
    height: 35rem;
    width: 100%;
  }
}

.swiper__container {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  height: 95%;
  margin-bottom: 4rem;
}
@media (max-width: 28.125em) {
  .swiper-wrapper {
    height: 90%;
  }
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #1b1215;
  color: #f9ecbf;
  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;
  padding: 5px;
}

.swiper-pagination-bullet {
  background-color: #1b1215;
  opacity: 1;
}
@media (max-width: 28.125em) {
  .swiper-pagination-bullet {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media (max-width: 28.125em) {
  .swiper-pagination {
    bottom: 5px !important;
  }
}

.swiper-pagination-bullet-active {
  background-color: #1b1215;
  width: 1.1rem;
  height: 1.1rem;
}
@media (max-width: 28.125em) {
  .swiper-pagination-bullet-active {
    width: 2rem;
    height: 2rem;
  }
}

.swiper-button-prev,
.swiper-button-next {
  top: 99% !important;
  z-index: 15;
}
@media (max-width: 28.125em) {
  .swiper-button-prev,
  .swiper-button-next {
    height: 3rem;
    width: 3rem;
    top: 97% !important;
  }
}

@media (max-width: 28.125em) {
  .swiper-button-next {
    left: 12% !important;
  }
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 1px;
}

.activities--null {
  font-size: 1.8rem;
}
@media (max-width: 28.125em) {
  .activities--null {
    font-size: 2rem;
    text-align: center;
  }
}

.weekly__container--lonely .swiper__container {
  justify-content: flex-start;
  width: fit-content;
}
@media (max-width: 28.125em) {
  .weekly__container--lonely .swiper__container {
    width: 100%;
  }
}

.weekly__container--lonely .swiper-slide {
  min-width: 30rem !important;
}

.weekly__container--phone {
  border: none;
}

@media (max-width: 28.125em) {
  .schedule__room {
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
  }
}
.schedule__day {
  font-size: 2rem;
  -webkit-text-stroke-width: 1px;
  letter-spacing: 2px;
}
.schedule__header h4 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: rgb(182.8079470199, 139.1523178808, 23.1920529801);
}
.schedule__header h2 {
  font-size: 2.2rem;
  -webkit-text-stroke-width: 1px;
  letter-spacing: 1px;
}
.schedule__hours span {
  font-size: 1.8rem !important;
}
.schedule__list {
  list-style: none;
}
.schedule__list li {
  background-color: #eece79;
  padding: 2.2rem;
  border: 3.3px solid #1b1215;
  min-height: 18rem;
}
.schedule__list li h2 {
  text-transform: uppercase;
}
.schedule__list span {
  font-size: 2.4rem;
  font-weight: 900;
}
.schedule__title {
  width: 100%;
  border-bottom: 3px solid #1b1215;
  padding-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  -webkit-text-stroke-width: 1px;
}
.schedule__title span {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.8rem;
}
.schedule__title--calendar {
  margin-bottom: 4rem;
}

.order {
  width: 25rem;
}
@media (max-width: 28.125em) {
  .order {
    width: 100%;
  }
}

.section__schedule {
  margin-bottom: 10rem;
}
@media (max-width: 28.125em) {
  .section__schedule {
    flex-direction: column;
  }
}

.calendar__message {
  font-size: 2rem;
}

.subjects__list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  list-style: none;
}

.subjects__header h2 {
  text-transform: uppercase;
}

.subjects__text {
  font-size: 1.6rem;
}

.not-found__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 2rem;
  gap: 2rem;
}
.not-found__img-container {
  height: 3rem;
  width: auto;
}
.not-found img {
  width: 100%;
  height: 100%;
}
.not-found__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.not-found__header h1 {
  font-family: "Lemon", sans-serif;
  font-size: 10rem;
}
.not-found__header h2 {
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
}
.not-found__content {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 1rem;
}
.not-found__content p {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.not-found__content button {
  width: 50%;
  margin: auto;
  margin-bottom: 3rem;
}
.not-found__content-img {
  height: 15rem;
}

.btn-all {
  position: relative;
  border-bottom: 3.3px solid #1b1215;
  text-decoration: dashed;
  color: #1b1215;
  cursor: pointer;
}

.btn-news::after {
  content: "!";
  clip-path: polygon(50% 0%, 63% 18%, 85% 6%, 82% 31%, 100% 35%, 89% 55%, 98% 80%, 75% 82%, 69% 100%, 50% 86%, 31% 100%, 25% 82%, 2% 80%, 11% 55%, 0% 35%, 18% 31%, 15% 6%, 37% 18%);
  width: 3rem;
  height: 3rem;
  position: absolute;
  background-color: #1b1215;
  font-size: 1.6rem;
  color: #f9ecbf;
  top: -1rem;
  right: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}

.button {
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 3px solid black;
  text-transform: uppercase;
  font-family: "KottaOne", sans-serif;
  font-size: 1.8rem;
  -webkit-text-stroke-width: 1px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button:hover {
  transform: translateY(-0.5rem);
}
.button--dark {
  background-color: #1b1215;
  color: #f9ecbf;
}
.button--light {
  background-color: #f9ecbf;
  color: #1b1215;
}
.button--blue {
  background-color: #a2afa1;
}
.button--red {
  background-color: #ea6169;
}
.button--yellow {
  background-color: #eece79;
}
.button--pink {
  background-color: #f1c4ad;
}
.button--green {
  background-color: #c7be8f;
}
.button--sat-green {
  background-color: #9ca756;
}
.button--sat-blue {
  background-color: #3c8f94;
}

.footer {
  padding: 2rem 0;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
}
@media (max-width: 28.125em) {
  .footer p {
    text-align: center;
  }
}
.footer__img-container {
  height: 3rem;
}
.footer img {
  width: 100%;
  height: 100%;
}
@media (max-width: 28.125em) {
  .footer {
    flex-direction: column;
    font-size: 2rem;
  }
}

.header {
  gap: 1rem;
  align-items: center;
  width: 90%;
  padding-top: 2rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__container {
  width: 100%;
  background-color: #a2afa1;
  border: 4px solid #1b1215;
}
@media (max-width: 42.8125em) {
  .header {
    width: 100%;
    padding-top: 0;
  }
  .header__container {
    border: none;
    border-bottom: 4px solid #1b1215;
  }
}
.header__title-container {
  margin: 0 auto;
  display: flex;
  width: 88%;
  justify-content: space-between;
  align-items: center;
  height: 14rem;
}
.header__name {
  font-family: "KottaOne", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  align-self: flex-start;
  margin-left: 35rem;
  margin-top: 0.5rem;
}
@media (max-width: 42.8125em) {
  .header__name {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
}
.header__nav {
  font-family: "ZalandoSans", sans-serif;
  font-weight: 300;
  margin-top: 1.5rem;
  font-size: 2rem;
  width: 100%;
}
@media (max-width: 42.8125em) {
  .header__nav {
    display: none;
  }
}
.header__nav ul {
  display: flex;
  gap: 0;
  text-transform: uppercase;
}
.header__nav a {
  color: #1b1215;
  text-decoration: none;
}
.header__nav a.active {
  position: relative;
}
.header__nav a.active::after {
  content: "";
  height: 2.5px;
  width: 100%;
  left: 0;
  bottom: -2px;
  background-color: #1b1215;
  position: absolute;
}
.header__nav li {
  text-decoration: none;
  display: flex;
  border-top: 3.3px solid #1b1215;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 3.3px solid #1b1215;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.header__nav li:not(.header__nav li:first-child) {
  border-right: 3.3px solid #1b1215;
}
.header__nav li:first-child {
  border-right: 3.3px solid #1b1215;
  border-left: 3.3px solid #1b1215;
}
.header__nav--calendar {
  flex-grow: 1;
  width: 40rem;
  text-align: center;
}
.header__date {
  margin-left: 3rem;
  width: 27rem;
  font-size: 2rem;
  font-family: "Lemon", sans-serif;
  transform: rotate(-7.435deg);
  padding: 2rem;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23000000FF' stroke-width='15' stroke-dasharray='32' stroke-dashoffset='10' stroke-linecap='square'/%3e%3c/svg%3e");
  background-color: #eece79;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header__date h2 {
  font-size: 6rem;
  transform: rotate(-1deg);
  font-weight: 400;
  position: relative;
  margin-top: -1rem;
}
.header__date h2::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 8px;
  background-color: black;
  left: 0;
}
.header__date span {
  text-transform: uppercase;
  align-self: flex-start;
}
.header__logo {
  width: 23.5rem;
  margin-top: 6.5rem;
  height: auto;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__title {
  width: auto;
  max-height: 9rem;
  height: 9rem;
  min-height: 9rem;
}
.header__title img {
  width: 100%;
  height: 100%;
}
@media (max-width: 42.8125em) {
  .header__menu {
    background-color: #1b1215;
    font-size: 6rem;
    max-width: 8rem;
    min-width: 8rem;
    max-height: 8rem;
    min-height: 8rem;
    border-radius: 2rem;
    color: #f9ecbf;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__menu-container {
    min-width: 12rem;
    max-width: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__logo {
    min-width: 15rem;
    max-width: 15rem;
    margin-top: 0;
  }
  .header__title {
    height: 11rem;
    width: auto;
  }
  .header__title-container {
    width: 95%;
    height: auto;
  }
  .header__date {
    transform: rotate(0);
    background-image: none;
    border: 3.3px dashed #1b1215;
    width: 90%;
    margin-left: 0;
    align-items: start;
    gap: 1rem;
  }
  .header__date h2 {
    transform: rotate(0);
    font-size: 3rem;
    display: flex;
    gap: 1rem;
    text-transform: capitalize;
  }
  .header__date h2::after {
    display: none;
  }
}
@media (max-width: 28.125em) {
  .header__logo {
    min-width: 11rem;
    max-width: 11rem;
    margin-top: 0;
  }
  .header__menu {
    max-width: 6rem;
    min-width: 6rem;
    max-height: 6rem;
    min-height: 6rem;
    font-size: 4rem;
  }
  .header__menu-container {
    min-width: 9rem;
    max-width: 9rem;
  }
  .header__title {
    min-height: 11rem;
    width: auto;
  }
}

.nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
}
.nav li {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}
.nav li a {
  padding: 2rem;
  text-decoration: none;
  font-weight: 700;
  color: #f9ecbf;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
.nav li a.active {
  background-color: #a2afa1;
  border-radius: 1rem;
  color: #1b1215;
}
.nav li a::after {
  content: ".............................................................................";
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
  color: inherit;
}
.nav li span {
  font-family: "Lemon", sans-serif;
  color: #f9ecbf;
  order: 2;
  color: inherit;
}
.nav__container {
  background-color: #1b1215;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 15;
  overflow-y: unset;
  display: flex;
  flex-direction: column;
}
.nav__footer {
  margin-bottom: 2rem;
}
.nav__footer-container {
  height: 4rem;
  width: auto;
}
.nav__footer-container img {
  width: 100%;
  height: 100%;
}

.homework {
  background-color: #c7be8f;
  justify-content: center;
  padding: 1rem;
  border: 3.3px solid #1b1215;
  height: 85%;
  position: relative;
}
@media (max-width: 28.125em) {
  .homework {
    border: none;
    border-bottom: 3.3px solid black;
  }
}
.homework small {
  display: flex;
  margin-top: 1.6rem;
}
.homework__news {
  position: absolute;
  top: 1rem;
  right: 1rem;
  transform: rotate(20deg);
  height: 8rem;
  width: auto;
}
.homework__news img {
  width: 100%;
  height: 100%;
}
.homework__news--modal {
  height: 5rem;
}
.homework__attention {
  position: absolute;
  top: 0rem;
  right: 0rem;
  height: 11rem;
  width: auto;
}
.homework__attention img {
  width: 100%;
  height: 100%;
}
.homework__attention--modal {
  height: 8rem;
}
.homework h4 {
  font-family: "Lemon", sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.homework h3 {
  font-size: 2.7rem;
  font-weight: 600;
  -webkit-text-stroke-width: 1px;
  letter-spacing: 1px;
}
.homework__desc {
  justify-content: flex-start !important;
  margin-top: 3rem;
}
.homework__desc ul {
  font-size: 2.2rem;
  font-family: "VintageTypist", sans-serif;
  line-height: 2.2rem;
  -webkit-text-stroke-width: 1px;
  min-width: 10rem !important;
}
.homework__desc ul li {
  min-width: 100rem !important;
}
.homework__desc small {
  font-size: 1.6rem;
  margin-top: auto;
  font-weight: 600;
  color: #1b1215;
}
.homework p {
  font-family: "VintageTypist", sans-serif;
  font-size: 2.2rem;
  line-height: 2.2rem;
  -webkit-text-stroke-width: 1px;
}
.homework a {
  margin-top: 3rem;
  font-size: 2rem;
  color: #1b1215;
  -webkit-text-stroke-width: 1px;
  position: relative;
  text-decoration: none;
  padding-bottom: 0.3rem;
  transition: all 0.2s ease;
}
.homework a::after {
  content: "";
  height: 3px;
  width: 110%;
  position: absolute;
  bottom: 0;
  left: -0.8rem;
  background-color: black;
}
.homework a:hover {
  transform: translateY(-3px);
}

.weekly__test {
  background-color: #a2afa1;
}

.homework--expired {
  color: rgb(215.7714285714, 171.9428571429, 20.2285714286);
  border-color: rgb(215.7714285714, 171.9428571429, 20.2285714286) !important;
}
.homework--expired h4, .homework--expired small {
  color: rgb(215.7714285714, 171.9428571429, 20.2285714286) !important;
}

.modal__background {
  width: 100%;
  height: 100%;
  background-color: rgba(57, 44, 44, 0.421);
  position: fixed;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 10;
}
.modal__background main {
  overflow-y: hidden;
}
.modal__filter {
  background-color: #f9ecbf;
  padding: 1rem;
  width: 70%;
  margin: auto;
  border-radius: 10rem;
  font-family: "Lemon", sans-serif;
  font-size: 1.6rem;
  transition: all 0.2s ease;
  margin-bottom: 2rem;
}
.modal__filter .active {
  color: #ea6169;
}
.modal__filter span:hover {
  transform: translateY(-1px);
  cursor: pointer;
}
.modal__title {
  padding: 1.5rem 3rem 0rem 3rem;
}
.modal__title p {
  font-size: 1.6rem;
}
.modal__title h1 {
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  font-family: "Lemon", sans-serif;
  margin-bottom: 1rem;
}
@media (max-width: 28.125em) {
  .modal__title h1 {
    flex-direction: row;
  }
}
.modal__title h1 span {
  background-color: #1b1215;
  color: #f9ecbf;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.modal__title h1 span:hover {
  background-color: #ea6169;
  cursor: pointer;
}
.modal__container {
  height: 60rem;
  width: 50rem;
  background-color: #eece79;
  border: 5px dashed #1b1215;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
}
.modal__container ul {
  list-style: none;
  width: 90%;
  margin: auto;
}
@media (max-width: 28.125em) {
  .modal__container {
    height: 95rem;
    width: 100%;
  }
}
.modal__close {
  cursor: pointer;
}
.modal__body {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.modal__body::-webkit-scrollbar {
  width: 15px;
}
.modal__body::-webkit-scrollbar-track {
  background: #d3a24e;
}
.modal__body::-webkit-scrollbar-thumb {
  background-color: #f9ecbf;
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: padding-box;
}
.modal__footer {
  margin-top: auto;
  align-self: flex-end;
  padding: 1.8rem 3rem 3rem 3rem;
}
.modal__message {
  width: 90%;
  text-align: center;
  margin: auto;
}
.modal__item {
  position: relative;
  background-color: #f9ecbf;
  padding: 1rem 2rem;
  border: 3px solid rgb(215.7714285714, 171.9428571429, 20.2285714286);
  border-radius: 0.8rem;
}
.modal__item ul {
  font-family: "VintageTypist", sans-serif;
  font-size: 2.3rem;
  line-height: 2.3rem;
  -webkit-text-stroke-width: 1px;
}
.modal__item small {
  display: flex;
  margin-top: 2rem;
  color: #ea6169;
  -webkit-text-stroke-width: 1px;
}
.modal__item h4 {
  font-family: "Lemon", sans-serif;
  color: #ea6169;
}
.modal__item h2 {
  -webkit-text-stroke-width: 1px;
  margin-bottom: 1rem;
}
.modal__item p {
  font-size: 2rem;
  font-family: "VintageTypist", sans-serif;
  line-height: 2rem;
  -webkit-text-stroke-width: 1px;
}
.modal__item a {
  color: #1b1215;
  -webkit-text-stroke-width: 1px;
  transition: all 0.2s ease;
}
.modal__item a:hover {
  transform: translateY(-3px);
}

.timeline {
  background-color: #ea6169;
  padding: 1.6rem;
  border: 3.3px solid #1b1215;
  display: flex;
  flex-direction: column;
}
.timeline_title {
  background-color: #1b1215;
  text-transform: uppercase;
  font-family: "KottaOne", sans-serif;
  color: #ea6169;
  font-weight: 900;
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 5px solid #1b1215;
  gap: 2rem;
}
@media (max-width: 28.125em) {
  .timeline_title {
    display: block;
  }
}
.timeline h2 {
  font-size: 2.5rem;
  font-weight: 600;
  -webkit-text-stroke-width: 1px;
  letter-spacing: 1px;
}
.timeline span {
  font-size: 2.7rem;
  font-weight: 800;
  font-family: "Noto Sans", sans-serif;
}
.timeline small {
  font-size: 1.6rem;
}

.inner_border {
  border: 3.3px solid #1b1215;
  background-color: #f1c4ad;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 900;
}

.weekly_HT {
  border: 2px;
}

.sx__calendar {
  background-color: transparent;
  border: none;
}
.sx__calendar-header {
  border-radius: 1.6rem;
  border: 4px solid #000;
  background-color: #c7be8f;
  padding: 2.5rem;
}
.sx__calendar-header .sx__today-button {
  background-color: #1b1215;
  text-transform: uppercase;
  font-weight: 600;
  color: #f9ecbf;
  font-size: 2rem;
  letter-spacing: 1px;
  border: none;
  transition: all 0.2s ease;
}
.sx__calendar-header .sx__today-button:hover {
  background-color: rgb(57.6, 38.4, 44.8);
  color: #f9ecbf;
}
.sx__calendar-header .sx__date-input {
  background-color: #1b1215;
  color: #f9ecbf;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.8rem;
  border: 2px solid transparent;
}
.sx__calendar-header .sx__date-input-chevron-wrapper {
  background-color: #f9ecbf;
  padding: 5px;
  border-radius: 50%;
}
.sx__calendar-header .sx__date-input--active .sx__date-input {
  border-color: #f9ecbf;
  outline: none;
}
.sx__calendar-header .sx__date-input:focus {
  border: 2px solid #f9ecbf;
  outline: none;
}
.sx__date-input-label {
  display: none;
}
.sx__forward-backward-navigation {
  display: flex;
  gap: 1rem;
}
.sx__chevron-wrapper {
  background-color: #f9ecbf;
}
.sx__chevron-wrapper:hover, .sx__chevron-wrapper:focus {
  background-color: rgb(244.6285714286, 222.1571428571, 144.3714285714);
}
.sx__chevron-wrapper .sx__chevron {
  width: 1rem;
  height: 1rem;
  border-width: 0.3rem 0.3rem 0 0;
}
.sx__range-heading {
  font-size: 2.5rem;
  max-width: 100%;
  font-family: "Lemon", sans-serif;
  text-transform: capitalize;
  text-decoration: underline;
  color: #1b1215;
  margin-left: 2rem;
}
.sx__view-container {
  border-radius: 1.6rem;
  border: 4px solid #000;
  background-color: #c7be8f;
  border-top: none;
}
.sx__month-grid-week {
  border-color: #9ca756;
  border-width: 2px;
}
.sx__month-grid-week:first-child {
  border-top: none;
}
.sx__month-grid-day__header-day-name {
  font-size: 1.6rem;
  padding: 5px 0 15px 0;
  color: #1b1215;
  font-weight: 600;
}
.sx__month-grid-day__header-date {
  background-color: #f9ecbf;
  height: 7rem;
  width: 7rem;
  font-size: 3rem;
  font-family: "Lemon", sans-serif;
  color: #1b1215;
}
.sx__month-grid-day:not(:last-child) {
  border-color: #9ca756;
  border-width: 2px;
}
.sx__month-grid-day__header-date.sx__is-today {
  background-color: #9ca756;
  color: #f9ecbf;
}
.sx__month-grid-event {
  background-color: #9ca756 !important;
  border-color: #1b1215 !important;
  color: #1b1215 !important;
  font-size: 1.6rem;
  font-family: "VintageTypist", sans-serif;
  padding: 2rem;
  display: flex;
  z-index: 0;
}
.sx__month-grid-day__events {
  grid-template-rows: 1fr 1fr;
}
.sx__month-grid-day {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.is-leading-or-trailing .sx__month-grid-day__header-date {
  color: #c7be8f;
}

.sx__date-picker-popup {
  background-color: #f9ecbf;
  border: 1px solid black;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
}
.sx__date-picker-popup .sx__chevron-wrapper {
  background-color: #1b1215;
  padding: 0;
  min-height: 2.2rem;
  min-width: 2.2rem;
}
.sx__date-picker-popup .sx__chevron-wrapper .sx__chevron {
  width: 0.6rem;
  height: 0.6rem;
  border-width: 0.2rem 0.2rem 0 0;
  border-color: #f9ecbf;
}
.sx__date-picker__month-view-header__month-year {
  color: #1b1215;
  text-transform: capitalize;
  font-weight: 600;
  pointer-events: none;
}
.sx__date-picker__month-view-header__month-year:hover {
  color: #9ca756;
}
.sx__date-picker__month-view-header .sx__chevron-wrapper:hover {
  background-color: #9ca756;
}
.sx__date-picker__day.sx__date-picker__day--today {
  background-color: #9ca756;
  color: #f9ecbf;
}
.sx__date-picker__day-name {
  color: #9ca756;
  text-transform: uppercase;
}
.sx__date-picker__day.is-leading-or-trailing {
  color: #c7be8f;
}
.sx__date-picker__day.sx__date-picker__day--selected {
  background-color: #c7be8f;
  color: #1b1215;
}
.sx__date-picker__day:hover {
  background-color: #eece79;
}
.sx__date-picker__day:focus {
  outline: 2px solid #9ca756;
}

.sx__event-modal-default {
  background-color: #f9ecbf;
  overflow: hidden;
  border: 1px solid black;
}
.sx__event-modal__title, .sx__event-modal__time, .sx__event-modal__description {
  display: flex;
  align-items: center;
}
.sx__event-modal__title {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
}
.sx__event-modal__time {
  font-size: 1.3rem;
  color: #9ca756;
  font-family: "ZalandoSans", sans-serif;
  font-weight: 600;
}
.sx__event-modal__description {
  color: #c7be8f;
  font-family: "ZalandoSans", sans-serif;
  font-size: 1.2rem;
}

.sx__has-icon .sx__event-icon {
  background-color: #9ca756 !important;
}

.sx__has-icon svg.sx__event-icon {
  opacity: 0.3;
  background-color: transparent !important;
}

.documents__container {
  width: 100%;
  border: 3px solid black;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.documents__container--1 {
  background-color: #f9ecbf;
}
.documents__container--1 .documents__title {
  background-color: #1b1215;
  color: #f9ecbf;
}
.documents__container--2 {
  background-color: #eece79;
}
.documents__container--2 .documents__title {
  letter-spacing: 1px;
  -webkit-text-stroke: 1px;
}
.documents__container--3 {
  background-color: #f1c4ad;
  border-radius: 0;
}
.documents__container--3 .documents__title {
  background-color: #ea6169;
  border-bottom: 3px solid black;
  color: #1b1215;
}

.documents__body {
  padding: 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 600;
}
.documents__body a {
  font-size: 1.8rem;
  color: #1b1215;
  transition: all 0.2s ease;
}
.documents__body a:hover {
  transform: translateY(-3px);
}
.documents__body h2 {
  text-transform: uppercase;
  font-size: 3rem;
  -webkit-text-stroke-width: 1px;
}
.documents__body p {
  font-size: 1.6rem;
  width: 60%;
}
@media (max-width: 42.8125em) {
  .documents__body p {
    width: 100%;
  }
}
.documents__body img {
  height: 3rem;
}
.documents__title {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2.2rem 1rem 0;
  font-weight: 600;
  letter-spacing: 2px;
}
.documents__code {
  overflow: hidden;
}

.subjects__header h2 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.subjects__header h4 {
  font-size: 1.6rem;
  font-family: "Lemon", sans-serif;
  font-weight: 400;
}
.subjects__link {
  font-family: "Lemon", sans-serif;
  font-size: 1.8rem;
  text-decoration: none;
  transition: all 0.2s ease;
}
.subjects__link:hover {
  text-decoration: underline;
}
.subjects__desc p {
  font-weight: 600;
  font-size: 1.8rem;
}
.subjects__news {
  font-size: 1.6rem !important;
}
.subjects__text {
  align-self: flex-start;
}

.subjects__container {
  background-color: rgb(220, 222, 223);
  padding: 1.6rem 2.2rem 1.6rem 2.2rem;
  border: 3.3px solid black;
  display: flex;
  flex-direction: column;
}
.subjects__container--7 {
  padding: 0;
  background-color: #f1c4ad;
}
.subjects__container--7 .subjects__header h2 {
  padding: 2rem 0 0 2.2rem;
  -webkit-text-stroke-width: 1px;
  margin-bottom: 0;
  letter-spacing: 3px;
}
.subjects__container--7 .subjects__header--phone h4 {
  padding-left: 2rem;
}
.subjects__container--7 .subjects__info {
  background-color: #1b1215;
  color: #f9ecbf;
  padding: 1rem 2.2rem 1.1rem 2.2rem;
}
.subjects__container--7 .subjects__desc {
  padding: 0rem 2.2rem 1rem 2.2rem;
}
.subjects__container--7 .subjects__link {
  background-color: #1b1215;
  padding: 1rem 1.6rem 1rem 1.6rem;
  color: #f9ecbf;
}
.subjects__container--1, .subjects__container--2 {
  padding: 0;
  background-color: #9ca756;
  border: none;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23000000FF' stroke-width='6' stroke-dasharray='32' stroke-dashoffset='8' stroke-linecap='square'/%3e%3c/svg%3e");
}
.subjects__container--1 .subjects__header h2, .subjects__container--2 .subjects__header h2 {
  background-color: #f9ecbf;
  border-top: 4px solid #3c8f94;
  border-bottom: 4px solid #3c8f94;
  padding: 1rem 1rem 1rem 2.2rem;
}
.subjects__container--1 .subjects__header--phone, .subjects__container--2 .subjects__header--phone {
  background-color: #f9ecbf;
  border-top: 4px solid #3c8f94;
  border-bottom: 4px solid #3c8f94;
  padding: 1rem 1rem 0rem 2.2rem;
  padding-bottom: 1rem;
}
.subjects__container--1 .subjects__header--phone h2, .subjects__container--2 .subjects__header--phone h2 {
  background-color: none;
  padding: 0;
  border: none;
}
.subjects__container--1 .subjects__info, .subjects__container--2 .subjects__info {
  padding: 1.6rem 2.2rem 1.1rem 2.2rem;
}
.subjects__container--1 .subjects__desc, .subjects__container--2 .subjects__desc {
  padding: 0rem 2.2rem 1.6rem 2.2rem;
}
.subjects__container--1 .subjects__link, .subjects__container--2 .subjects__link {
  color: #1b1215;
}
.subjects__container--2 {
  background-color: #eece79;
  background-image: none;
  border: 3.3px solid black;
}
.subjects__container--2 .subjects__header h2 {
  border-top: 4px solid #ea6169;
  border-bottom: 4px solid #ea6169;
}
@media (max-width: 42.8125em) {
  .subjects__container--2 .subjects__header h2 {
    border: none;
  }
}
.subjects__container--2 .subjects__header--phone {
  border-top: 4px solid #ea6169;
  border-bottom: 4px solid #ea6169;
}
.subjects__container--3 {
  padding: 0;
  background-color: #a2afa1;
}
.subjects__container--3 .subjects__header {
  background-color: #1b1215;
  padding: 1rem 1rem 0rem 2.2rem;
  color: #3c8f94;
}
.subjects__container--3 .subjects__header h2 {
  -webkit-text-stroke: 1px;
}
.subjects__container--3 .subjects__desc {
  padding: 1.6rem 2.2rem 1.6rem 2.2rem;
}
.subjects__container--3 .subjects__link {
  color: #1b1215;
}
.subjects__container--4, .subjects__container--5 {
  padding: 1.6rem;
  background-color: #ea6169;
  border: none;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23000000FF' stroke-width='6' stroke-dasharray='32' stroke-dashoffset='8' stroke-linecap='square'/%3e%3c/svg%3e");
}
.subjects__container--4 .subjects__content, .subjects__container--5 .subjects__content {
  background-color: #f9ecbf;
  padding: 1.4rem 1.8rem 1.4rem 1.8rem;
  border: 3px solid black;
}
.subjects__container--4 .subjects__desc, .subjects__container--5 .subjects__desc {
  margin-top: -1.5rem;
}
.subjects__container--4 .subjects__link, .subjects__container--5 .subjects__link {
  background-color: #f1c4ad;
  padding: 1rem 1.6rem 1rem 1.6rem;
  color: #1b1215;
}
.subjects__container--5 {
  background-color: #9ca756;
}
.subjects__container--5 .subjects__content {
  background-color: #eece79;
}
.subjects__container--5 .subjects__header h2 {
  -webkit-text-stroke-width: 1px;
}
.subjects__container--5 .subjects__link {
  background-color: #f9ecbf;
}
.subjects__container--6 {
  background-color: #f9ecbf;
}
.subjects__container--6 .subjects__desc {
  background-color: #1b1215;
  padding: 1rem 2.2rem 1rem 2.2rem;
  color: #f9ecbf;
}
.subjects__container--6 .subjects__link {
  color: #f9ecbf;
}

.react-calendar__tile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible !important;
  height: 6.8rem;
}

.event-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 2rem;
  width: 110%;
  position: relative;
}

.linha-evento-verde {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 4px;
  background-color: #9ca756;
  border-radius: 2px;
  border-bottom: 5px;
}
.linha-evento-verde--2 {
  bottom: -6px;
}

.react-calendar__tile {
  position: relative;
  border: none !important;
}

.event-day::after {
  content: "";
  position: absolute;
  bottom: 16px;
  height: 4px;
  background-color: #9ca756;
  width: 100%;
}

.event-start::after {
  left: 10%;
  border-radius: 2px 0 0 2px;
}

.event-middle::after {
  left: 0;
  border-radius: 0;
}

.event-end::after {
  right: 10%;
  border-radius: 0 2px 2px 0;
}

.event-start.event-end::after {
  width: 80%;
  left: 10%;
  border-radius: 2px;
}

.calendar {
  display: flex;
  flex-direction: column;
}
.calendar__events {
  width: 95%;
  margin: auto;
  padding: 1rem 2rem;
  border: 2px solid black;
  border-top: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.calendar__events h2 {
  font-family: "Lemon", sans-serif;
  margin-bottom: 2rem;
}
.calendar__events ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.5rem;
}
.calendar__events ul li {
  padding: 1rem;
  border-inline-start: 5px solid #9ca756;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.calendar__events ul li h4 {
  text-transform: uppercase;
  font-size: 1.6rem;
  -webkit-text-stroke-width: 0.3px;
}
.calendar__events ul li span {
  font-size: 1.6rem;
  font-weight: 600;
  color: #9ca756;
}

.react-calendar {
  border: none;
  background-color: transparent !important;
}
.react-calendar__navigation {
  border-radius: 1rem;
  background-color: #c7be8f;
  margin-bottom: 0;
  border: 2px solid black;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  height: 6rem;
}
.react-calendar__navigation__next2-button, .react-calendar__navigation__prev2-button {
  display: none;
}
.react-calendar__navigation__prev-button, .react-calendar__navigation__next-button {
  background: #1b1215 !important;
  border-radius: 50%;
  max-width: 3.5rem;
  max-height: 3.5rem;
  min-height: 3.5rem;
  min-width: 3.5rem !important;
  font-size: 3rem;
  font-family: "KottaOne", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9ecbf;
}
.react-calendar__navigation__label {
  pointer-events: none;
}
.react-calendar__navigation__label__labelText {
  text-transform: uppercase;
  font-family: "Lemon", sans-serif;
  text-decoration: underline;
  font-size: 2rem;
  pointer-events: none;
}
.react-calendar__viewContainer {
  padding-top: 1rem;
  border-inline: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 1rem;
  background-color: #c7be8f;
}
.react-calendar__month-view__weekdays__weekday {
  color: #1b1215;
  -webkit-text-stroke-width: 1px;
  font-family: "KottaOne", sans-serif;
  font-size: 1.8rem;
}
.react-calendar__month-view__days abbr {
  background-color: #f9ecbf;
  font-family: "Lemon", sans-serif;
  height: 2.5rem;
  width: 2.5rem;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #c7be8f;
}
.react-calendar__month-view__days__day--weekend abbr {
  color: #1b1215;
}
.react-calendar__tile {
  border-radius: 5px;
  border: 2px solid transparent !important;
}
.react-calendar__tile--now {
  background-color: rgb(124.5533596838, 133.3359683794, 68.6640316206);
}
.react-calendar__tile--now.react-calendar__tile--active {
  background-color: rgb(124.5533596838, 133.3359683794, 68.6640316206) !important;
  border: 2px solid #1b1215 !important;
}
.react-calendar__tile:enabled:focus {
  background-color: #eece79;
}
.react-calendar__tile--active {
  border: 2px solid #9ca756 !important;
  background-color: transparent;
  color: #1b1215;
}
.react-calendar__tile--active:enabled:focus, .react-calendar__tile--active:enabled:hover {
  background-color: transparent;
}

.drivers {
  background-color: #fff3d3;
  padding: 1.6rem 2.5rem 2.5rem 6rem;
  border: 3.3px solid #1b1215;
  border-radius: 5px;
  background: radial-gradient(circle, #f9ecbf 10px, #1b1215 11px, transparent 12px) -66rem 50%/100% 45px, linear-gradient(#fff3d3 0%, transparent), linear-gradient(transparent, #fff3d3 95%), repeating-linear-gradient(#1b1215, #1b1215 2px, transparent 2px, transparent 48px), #fff3d3;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.drivers h1 {
  font-weight: 900;
  -webkit-text-stroke: 1px;
}
.drivers ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style: none;
}
.drivers h2 {
  font-size: 2.5rem;
  color: #3c8f94;
  -webkit-text-stroke: 1px;
  margin-bottom: 5px;
}
.drivers li a {
  font-size: 1.8rem;
  color: #1b1215;
  font-weight: 900;
  margin-left: 2rem;
  transition: all 0.2s ease;
}
.drivers li a:hover {
  margin-left: 0;
}

/*# sourceMappingURL=style.css.map */
