@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.4rem;
  font-weight: 400;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Kdam Thmor Pro", sans-serif;
  position: relative;
}

main {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  position: relative;
}

.content {
  flex-grow: 1;
  width: 85%;
  margin: 3rem 0 10rem 0;
}

.content h1 {
  align-self: flex-start;
}

.header {
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 0 8rem;
  align-items: center;
  width: 100%;
  min-height: 7rem;
  background-color: rgb(220, 222, 223);
}

.header ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.footer {
  padding: 2rem 0;
  width: 100%;
  text-align: center;
}

.subjects__list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  list-style: none;
}

.subjects__list li {
  background-color: rgb(220, 222, 223);
  padding: 2.2rem;
  border: 1px solid rgb(193, 195, 196);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.subjects__header h2 {
  text-transform: uppercase;
}

.subjects__text {
  font-size: 1.6rem;
}

.timeline {
  background-color: rgb(220, 222, 223);
  padding: 2.2rem;
  border: 1px solid rgb(193, 195, 196);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.timeline h2 {
  font-size: 2.4rem;
}

.timeline span {
  font-size: 2rem;
}

.homework {
  background-color: rgb(220, 222, 223);
  padding: 2.2rem;
  border: 1px solid rgb(193, 195, 196);
  border-radius: 0.8rem;
  width: 40%;
  position: relative;
}

.modal--item {
  position: relative;
}

.homework--news::after {
  content: "NOVO!";
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 10rem;
  border: 1px solid gray;
  color: gray;
  font-size: 1.2rem;
}

.homework--attention::after {
  content: "ATENÇÃO!";
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 10rem;
  border: 1px solid gray;
  color: gray;
  font-size: 1.2rem;
}

.homework--expired {
  color: gray;
}

.section__weekly {
  gap: 15rem;
}

.section__weekly > div {
  width: 50%;
}

.home__lists {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

.home__lists > li {
  min-width: 23rem !important;
  height: 25rem !important;
}

/* MODAL */

.modal__background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.229);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.modal__container {
  height: 60rem;
  width: 50rem;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.modal__container ul {
  list-style: none;
  width: 90%;
  margin: auto;
}

.modal__title {
  padding: 0.5rem 3rem 0rem 3rem;
}

.modal__close {
  align-self: flex-end;
  margin: 3rem 3rem 0;
}

.modal__body {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.modal__footer {
  margin-top: auto;
  align-self: flex-end;
  padding: 1.8rem 3rem 3rem 3rem;
}

.modal__message {
  width: 90%;
  text-align: center;
}

/* SCHEDULE */

.schedule__list {
  list-style: none;
}

.schedule__list li {
  background-color: rgb(220, 222, 223);
  padding: 2.2rem;
  border: 1px solid rgb(193, 195, 196);
  border-radius: 0.8rem;
  min-height: 18rem;
}

.schedule__list li h2 {
  text-transform: uppercase;
}

.documents__list li {
  background-color: rgb(220, 222, 223);
  padding: 2.2rem;
  border: 1px solid rgb(193, 195, 196);
  border-radius: 0.8rem;
  width: 100%;
}

.works__list {
  list-style: none;
}

.works__list li {
  background-color: rgb(220, 222, 223);
  padding: 2.2rem;
  border: 1px solid rgb(193, 195, 196);
  border-radius: 0.8rem;
  width: 100%;
}

.works__list li h3 {
  text-transform: uppercase;
}

.btn-all {
  position: relative;
}

.btn-news::after {
  content: "!";
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  background-color: black;
  color: white;
  top: -1rem;
  right: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}

.sx-react-calendar-wrapper {
  width: 100%;
  max-width: 100vw;
  height: 800px;
  max-height: 90vh;
}

.section__schedule {
  margin-bottom: 10rem;
}

/* UTILITIES */

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}
