@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; 
}

body {
    box-sizing: border-box;
    font-size: 1.4rem;
    font-weight: 400;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Kdam Thmor Pro", sans-serif;
    position: relative;
    
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    position: relative;
}

.content {
    flex-grow: 1;
    width: 85%;
    margin: 3rem 0 10rem 0;
}

.content h1 {
    align-self: flex-start;
    
}

.header {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    padding: 0 8rem;
    align-items: center;
    width: 100%;
    min-height: 7rem;
    background-color: rgb(220, 222, 223);
}

.header ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.footer {
    padding: 2rem 0;
    width: 100%;
    text-align: center;
}


.subjects__list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    list-style: none;
}

.subjects__list li {
    background-color: rgb(220, 222, 223);
    padding: 2.2rem;
    border: 1px solid rgb(193, 195, 196);
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.subjects__header h2 {
    text-transform: uppercase;
}

.subjects__text {
    font-size: 1.6rem;
}

.timeline {
    background-color: rgb(220, 222, 223);
    padding: 2.2rem;
    border: 1px solid rgb(193, 195, 196);
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.timeline h2 {
    font-size: 2.4rem;
}

.timeline span {
    font-size: 2rem;
}

.homework {
    background-color: rgb(220, 222, 223);
    padding: 2.2rem;
    border: 1px solid rgb(193, 195, 196);
    border-radius: .8rem;
    width: 40%;
}

.section__weekly {
    gap: 15rem;
}

.section__weekly > div {
    width: 50%;
}


/* MODAL */

.modal__background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.229);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.modal__container {
    height: 50rem;
    width: 50rem;
    background-color: white;
    border-radius: 1rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    
}

.modal__container ul {
    list-style: none;
}

.modal__close {
    align-self: flex-end;
}

.modal__footer {
    margin-top: auto;
    align-self: flex-end;
}

/* SCHEDULE */

.schedule__list {
    list-style: none;
}

.schedule__list li {
    background-color: rgb(220, 222, 223);
    padding: 2.2rem;
    border: 1px solid rgb(193, 195, 196);
    border-radius: .8rem;
    min-height: 18rem;
}

.schedule__list li h2 {
    text-transform: uppercase;
}

.documents__list li {
    background-color: rgb(220, 222, 223);
    padding: 2.2rem;
    border: 1px solid rgb(193, 195, 196);
    border-radius: .8rem;
    width: 100%;
}

.works__list {
    list-style: none;
}

.works__list li {
    background-color: rgb(220, 222, 223);
    padding: 2.2rem;
    border: 1px solid rgb(193, 195, 196);
    border-radius: .8rem;
    width: 100%;
}

.works__list li h3 {
    text-transform: uppercase;
}

.btn-all {
    position: relative;
}

.btn-news::after {
    content: '!';
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    background-color: black;
    color: white;
    top: -1rem;
    right: -1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
}